/* input[type="text"]{
  position:absolute;
  top:10%;
  left:50%;

  transform: translate(-50%,-50%);
} */

@font-face {
  font-family: "Amphora";
  src: url(resources/fonts/Amphora-Regular.otf) format("OpenType");
}

@font-face {
  font-family: "Public";
  src: url(resources/fonts/PublicSans-SemiBold.ttf) format("truetype");
}


@font-face {
  font-family: "Quanta";
  src: url(resources/fonts/QuantaGroteskPro-Medium.ttf) format("truetype");
}


@font-face {
  font-family: "Machina";
  src: url(resources/fonts/PPNeueMachina-Regular.ttf) format("truetype");
}




.textArea {
  font-family: 'IBM Plex Mono', monospace;
  font-size:12;
  text-align: center;
}

.button-container {
  display: none;
  font-family: 'Quanta';
  position: absolute;
  transform: translateX(-50%);
  align-items: center;
  top: 5%;  
  left: 50%;
  height: 15%;
  width: 98%;
  text-align: center;  /* To center the text */
  align-items: center;
  transform: translateX(-50%);
}

.pill-buttons{
  position: absolute;
  display: flex;        /* Makes children display in a row */
  justify-content: space-around;  /* Space the buttons evenly */
  left: 4%;

}

.pill-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  padding: 35px;
  border-radius: 30px;
  border-style: solid;
  border-color: #F18268;
  border-width: 0.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  color: #F74d26

}



.pill-button:hover {
  background-color: #F18268;
  cursor:default;
}

.button-char {
  position: absolute;
  top: 10%;  /* Reduced from previous 15%; adjust further if needed */
  text-align: center;
  font-size: 25px;        /* Adjust as per your preference */    /* Space between the character and text */
  color: #F74d26;            /* Making the character red */
}

.pill-button > span:not(.button-char) {
  position: absolute;
  bottom: 15%; /* Adjust this value as needed */
  text-align: center;  /* To center the text */
  font-size: 18px;        /* Adjust as per your preference */    /* Space between the character and text */

}

.pill-buttons .pill-button:first-child {
  margin-right: 10px; /* Adjust as per your preference */
}


.social-links {
  position: absolute;
  left: 90%;
  width: auto;
  padding: 0;
  transform: translateX(-50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.social-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* You can adjust this for spacing between the two rows */
}

.social-links a {
  color: #F74d26;
  font-size: 30px;
  text-decoration: none;
  border-radius: 50%;
  width: 20px;  /* Approx width of the pill button, adjust if needed */
  height: 20px;  /* Approx height of the pill button, adjust if needed */
  display: flex;  /* Below three lines center the icon in the middle of the anchor element */
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out; 
  padding: 5px; 
  margin: 0 5px;  
}

.social-links a:hover {
  color: blue;
}





.credit {
  font-family: 'Quanta';
  position: absolute;
  bottom: 10px;  /* Adjust this value to position the credit from the bottom */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  color: #F74d26;
  font-size: 14px; /* Example responsive text size for mobile */
  text-decoration: italic;

}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
  transition: 0.4s ease-in-out; /* Moved transition here so it applies on hover and non-hover states */
}

.credit a:hover {
  color: #2A56FF; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}




.loading-bar-container {
  font-family: 'Quanta';
  position: absolute;
  top: 50%;
  left: 0%; /* Start at 25% to be in the middle 50% of the screen */
  width: 100%; /* Middle 50% of the screen */
  height: 30px;
  color: #F74d26;
  z-index: 1000;
  align-items: center;
  display: flex;         /* Added */
  flex-direction: column; /* Added */
  align-items: center;    /* Added */
  justify-content: center; /* Added */


}

.loading-bar {
  height: 100%;
  width: 0%;
  background-color: #F74d26;
  transition: width 0.2s ease-in-out;
  position: absolute;
  border-radius: 2rem;

}

.loading-text {
  position: absolute;
  font-family: 'Quanta';
  font-size: 50px;
  left: 50%;
  top: 42%;
  color:  #F74d26;
  transform: translateX(-50%);
  font-weight: bold;
  z-index: 100;

}

.loading-percentage {
  font-weight: bold;
}

