/* input[type="text"]{
  position:absolute;
  top:10%;
  left:50%;

  transform: translate(-50%,-50%);
} */

@font-face {
  font-family: "Amphora";
  src: url(resources/fonts/Amphora-Regular.otf) format("OpenType");
}

@font-face {
  font-family: "Public";
  src: url(resources/fonts/PublicSans-SemiBold.ttf) format("truetype");
}


@font-face {
  font-family: "Quanta";
  src: url(resources/QuantaGroteskPro-Medium.ttf) format("truetype");
}



.textArea {
  font-family: 'IBM Plex Mono', monospace;
  font-size:12;
  text-align: center;
}

.button-container {
  display: none;
  font-family: 'Public';
  position: absolute;
  transform: translateX(-50%);
  align-items: center;
  top: 5%;  /* Adjust this value as needed */
  left: 15%;
  text-align: center;  /* To center the text */
  margin-left: 1%;
}

.pill-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  padding: 35px;
  border-radius: 30px;
  border-style: solid;
  border-color: #F18268;
  border-width: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  color: #F74d26

}

.pill-button:hover {
  background-color: #F18268;
  cursor:default;
}

.button-char {
  position: absolute;
  top: 15%;  /* Reduced from previous 15%; adjust further if needed */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;        /* Adjust as per your preference */    /* Space between the character and text */
  color: #F74d26;            /* Making the character red */
}

.pill-button > span:not(.button-char) {
  position: absolute;
  bottom: 20%; /* Adjust this value as needed */
  text-align: center;  /* To center the text */
}

.spacer {
  width: 10px;
}



.credit {
  font-family: 'Public';
  position: absolute;
  bottom: 0.5px;
  left: 50%;
  transform: translateX(-50%); /* Adjusts for perfect centering */
  padding: 20px;
  color: #F74d26;
  font-size: 14px; /* Example responsive text size for mobile */
  text-decoration: italic;
}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
  transition: 0.4s ease-in-out; /* Moved transition here so it applies on hover and non-hover states */
}

.credit a:hover {
  color: #2A56FF; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}




.loading-bar-container {
  font-family: 'Public';
  position: absolute;
  top: 50%;
  left: 25%; /* Start at 25% to be in the middle 50% of the screen */
  width: 50%; /* Middle 50% of the screen */
  height: 10px;
  color: #F74d26;
  z-index: 1000;
  align-items: center;
  border-radius: 3%;

}

.loading-bar {
  height: 100%;
  width: 0%;
  background-color: #F74d26;
  transition: width 0.2s ease-in-out;
  position: absolute;

}

.loading-text {
  font-size: 40px;
  left: 50%;
  font-weight: bold;
  margin-bottom: 5px; /* Spacing between text and loading bar */
  align-items: center;
}

.loading-percentage {
  font-weight: normal;
}

.social-links {
  position: fixed;
  top: 10%;
  right: 10px;
  transform: translateX(-50%);
  display: flex;
  gap: 2px;
  z-index: 2; /* Ensures the bar stays above other elements */
  border-radius: 15px;
  border-style: solid;
  border-color: #F74d26;
  border-width: 0.1rem;

}

.social-links a {
  color: #F74d26; /* Default color of the icons */
  font-size: 30px; /* Size of the icons */
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.s ease-in-out; /* Smooth color transition on hover */
}

.social-links a:hover {
  color: #F74d26; /* Color on hover */
}

.toggle_radio {
  display: flex; 
  justify-content: space-between; 
  position: absolute;
  width: 500px;
  height: 50px;
  border: 0.1rem solid #F74d26;
  border-radius: 20px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.toggle_radio label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #F74d26;
  cursor: pointer;
}

.toggle_option_slider {
  position: absolute;
  bottom: 5px;
  width: 10px;
  height: 10px;
  background-color: #F74d26;
  border-radius: 50%;
  transition: left .4s ease-in-out, width .2s ease-in .1s, border-radius .2s ease-in .1s;
}

.toggle_radio input[type=radio]:nth-of-type(1):checked ~ .toggle_option_slider {
  left: 12.5%;
}

.toggle_radio input[type=radio]:nth-of-type(2):checked ~ .toggle_option_slider {
  left: 37.5%;
}

.toggle_radio input[type=radio]:nth-of-type(3):checked ~ .toggle_option_slider {
  left: 62.5%;
}

.toggle_radio input[type=radio]:nth-of-type(4):checked ~ .toggle_option_slider {
  left: 87.5%;
}

.toggle_radio input[type=radio] {
  display: none;
}