/* input[type="text"]{
  position:absolute;
  top:10%;
  left:50%;

  transform: translate(-50%,-50%);
} */

@font-face {
  font-family: "Amphora";
  src: url(resources/fonts/Amphora-Regular.otf) format("OpenType");
}

@font-face {
  font-family: "Public";
  src: url(resources/fonts/PublicSans-SemiBold.ttf) format("truetype");
}


@font-face {
  font-family: "Quanta";
  src: url(resources/QuantaGroteskPro-Medium.ttf) format("truetype");
}



.textArea {
  font-family: 'IBM Plex Mono', monospace;
  font-size:12;
  text-align: center;
}

.button-container {
  display: none;
  font-family: 'Public';
  position: absolute;
  transform: translateX(-50%);
  align-items: center;
  top: 5%;  /* Adjust this value as needed */
  left: 10%;
  text-align: center;  /* To center the text */
  margin-left: 1%;
}

.pill-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border-style: dotted;
  border-color: #F18268;
  border-width: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding-left: 10px;
  padding-right: 10px; 
  text-align: center;
  color: #Ee3306

}

.pill-button:hover {
  background-color: #F18268;
  cursor:default;
}

.button-char {
  position: absolute;
  top: 15%;  /* Reduced from previous 15%; adjust further if needed */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;        /* Adjust as per your preference */    /* Space between the character and text */
  color: #Ee3306;            /* Making the character red */
}

.pill-button > span:not(.button-char) {
  position: absolute;
  bottom: 10%; /* Adjust this value as needed */
  text-align: center;  /* To center the text */
}

.spacer {
  width: 10px;
}



.credit {
  font-family: 'Public';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Adjusts for perfect centering */
  padding: 20px;
  color: #F74d26;
  font-size: 14px; /* Example responsive text size for mobile */
  text-decoration: italic;
}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}

.credit a {
  color: #F74d26; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
  transition: 0.4s ease-in-out; /* Moved transition here so it applies on hover and non-hover states */
}

.credit a:hover {
  color: #2A56FF; /* This is a common hyperlink color, but feel free to change */
  text-decoration: underline;
}




.loading-bar-container {
  font-family: 'Public';
  position: fixed;
  top: 50%;
  left: 25%; /* Start at 25% to be in the middle 50% of the screen */
  width: 50%; /* Middle 50% of the screen */
  height: 10px;
  color: #F74d26;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-bar {
  height: 100%;
  width: 0%;
  background-color: #F74d26;
  transition: width 0.2s ease-in-out;
}

.loading-text {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px; /* Spacing between text and loading bar */
}

.loading-percentage {
  font-weight: normal;
}

.social-links {
  position: fixed;
  top: 10%;
  right: 10px;
  transform: translateX(-50%);
  display: flex;
  gap: 2px;
  z-index: 1000; /* Ensures the bar stays above other elements */
}

.social-links a {
  color: #F74d26; /* Default color of the icons */
  font-size: 30px; /* Size of the icons */
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.s ease-in-out; /* Smooth color transition on hover */
}

.social-links a:hover {
  color: #2A56FF; /* Color on hover */
}
